header{
    background-color: #394A58;
    width: 110%;
    height: 100px;
    margin-left: -10px;
    margin-top: -10px;
}

body {
    text-align: center;
    align-content: center;
    background-color: #D9D9D9;
    font-family:'RussianRail G Regular', Tahoma, Geneva, Verdana, sans-serif;
}

h{
    font-size: 40px;
    color: white;
    text-align: left;
    margin-left: -50%;

    font-family:'RussianRail G Pro Bold', Tahoma, Geneva, Verdana, sans-serif;
}

.text {
    font-size: 20px;
    width: 50%;
    height: 10px;
    color: white;
    text-align: left;

    margin-right: 200px;
    font-family:'RussianRail G Pro', Tahoma, Geneva, Verdana, sans-serif;

    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10%;
    padding-right: 100px;   
}

.b { background: #394A58; }
.r { background: #ff000d; }

a{
    text-decoration: none;
}